
.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.tasks{
  margin-left: 200px;
  border-radius: 25px;
}

.new-task-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

.new-task-items input,
.new-task-items textarea,
.new-task-items input[type="submit"] {
  margin-bottom: 10px; 
}

.task:hover{
  background-color: #ececec;
  cursor: pointer;
  width: max-content;
  padding: 10px;
}

.new-task-items input[type="checkbox"]:hover {
  cursor: pointer;
}

#login-box{
  margin: 0 auto;
  min-width: fit-content;
  width: 300px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  align-items: center;
}
#login-btn{
  margin: 0 auto;
  width: 100%;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  align-items: center;
  margin-bottom: 1em;
}
#login-btn:hover{
  background-color: #CCC;
}

.messages{
  margin: 0 auto;
  width: 300px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  align-items: center;
  margin-bottom: 1em;
}
#title{
  font-size: 30px;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#register-box{
  margin: 0 auto;
  min-width: max-content;
  width: 300px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  align-items: center;
}
#register-btn{
  margin: 0 auto;
  width: 100%;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  align-items: center;
  margin-bottom: 1em;
}

#register-btn:hover{
  background-color: #CCC;
}

button{
  margin: 0 auto;
  width: 300px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  align-items: center;
}

button:hover{
  background-color: #CCC;
}