{% extends 'base.html' %}

{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %} Tasks {% endblock %}
{% block body %}
<div class="sidenav">
    <a onclick="openDialog()" >New Task</a>
    <a href="/logout">Logout</a>
</div>
    <div class="tasks">

    </div>

    {% if tasks %}
            {% for task in tasks %}
            <script>
                content = `
                <form method="POST" action="/update_data/" id="task_{{ task.id }}" class='tasks_form'>
                    {% csrf_token %}
                <div class="task">
                    <input type="checkbox" class='submitCheckbox' name="task_id" value="task_{{task.id}}"  onclick='submitForm(this)'>
                    <label for="task_{{ task.id }}">{{ task.title }}</label>
                    <p>Description: {{ task.description }}</p>
                    <p>Due at: {{ task.date_valide }}</p>
                </div>
                </form>
                    `
                document.getElementsByClassName('tasks')[0].innerHTML += content;
            </script>
        {% endfor %}
    {% endif %}
<dialog id="task_dialog">
    <form method="POST" action="/add_task/" id="new-task">
        {% csrf_token %}
        <div class="new-task-items">
            <input type="text" name="title" placeholder="Enter task" required>
            <textarea name="description" cols="30" rows="10" required></textarea>
            <input type="date" name="date" required>
            <input type="time" name="time" required>
            <input type="submit" value="Add" onclick="closeDialog()">
        </div>
    </form> 
</dialog>

<script>


    function submitForm(checkbox) {
        var form = checkbox.closest('form');
        form.submit();
    }

    function openDialog() {
        document.getElementById('task_dialog').showModal();
    }

    function closeDialog() {
        if (document.getElementById('new-task').isValid){
            document.getElementById('task_dialog').close();
        }
    }
</script>
{% endblock %}